<div class="container">
  <div class="advisor">
  <div>
  <h1>Your consultations</h1>
  </div>
      <ul class="inbox">
        <li class="message">
          <img src="images/gab.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Gab Dehan</h3>
            <p>10/07/17</p>
          </div>
          <div class="message-body">
            <p><strong>Not sure what to dress</strong></p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€345</p>
          </div>
        </li>


        <li class="message">
          <img src="images/gab.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Hab Hegan</h3>
            <p>10/07/17</p>
          </div>
          <div class="message-body">
            <p><strong>Ain't got no style</strong></p>
            <p>
              Wish i could have some
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€345</p>
          </div>
        </li>


        <li class="message">
          <img src="images/gab.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Paul simon</h3>
            <p>10/07/17</p>
          </div>
          <div class="message-body">
            <p><strong>What dress to buy</strong></p>
            <p>
              The pink or the yellow???
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€345</p>
          </div>
        </li>


        <li class="message">
          <img src="images/gab.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Gene Simmons</h3>
            <p>10/07/17</p>
          </div>
          <div class="message-body">
            <p><strong>About make up</strong></p>
            <p>
              Is this too much??
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€345</p>
          </div>
        </li>


        <li class="message">
          <img src="images/cecile.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Cecile Veneziani</h3>
            <p>23/09/17</p>
          </div>
          <div class="message-body">
            <p><strong>Not sure if I'm pretty</strong></p>
            <p>
              Can you help me?
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Accepted</p>
            <p class="price">€345</p>
          </div>
        </li>


        <li class="message">
          <img src="images/jad.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3>Jad Joubran</h3>
            <p>19/08/17</p>
          </div>
          <div class="message-body">
            <p><strong>Hey man! I'm desperate...</strong></p>
            <p>
              Suspendisse tristique, nibh placerat blandit porttitor, dolor arcu venenatis lectus, ut egestas nisl sapien non lacus. In molestie nulla nisi. Pellentesque vestibulum tempor diam id mollis. Fusce eu bibendum mauris. Phasellus cursus venenatis sem quis aliquet. Sed ultricies nunc purus, ac sagittis nisi ultricies sit amet.
            </p>
          </div>
          <div class="message-status">
            <p class="status declined">Declined</p>
            <p class="price">€560</p>
          </div>
        </li>


    </ul>
  </div>
</div>
