.register {
  margin: 25vh 35vw;

  h2 {
    font-family: 'Raleway';
    font-weight: lighter;
  }

  label {
    font-family: 'Raleway';
    font-weight: lighter;
    color:black;
    font-size:24px;
  }
}



