.search {


  margin: 10px 35vw 10px 35vw;

  h2 {
    font-family: 'Raleway';
    font-weight: lighter;
  }

  label {
    font-family: 'Raleway';
    font-weight: lighter;
    color:black;
    font-size:24px;
  }

  a {
    text-decoration: none;
    color: rgba(0,0,0,1);
  }

  h5 {
    text-align: center;
    font-size:24px;
    font-weight:lighter;
  }


}
