<div class="container">
  <div class="advisor">
    <div class="profile-image" style="background-image: url('http://res.cloudinary.com/dz9p1e6np/image/upload/v1522768407/photo-1485462537746-965f33f7f6a7.jpg')"></div>
    <div class="profile-details">
      <h1>Casually Looking Good</h1>
      <h2>Sam Williams</h2>
      <h3>London</h3>
      <p>Sam Williams is creating affordable fashion trends for everyday life. She is a influencer with over 70 thousand followers on Instagram and has modeled for big brands like Zara, Forver 21 and Dick's Sporting goods</p>
      <h4>Rate: 15$ per hour</h4>
      <div class="btn btn-success btn-block btn-lg">Hire!</div>
    </div>
  </div>


</div>

